body {

}

.wrapper {
 
}

.header {
  
}

.logo {

}

.menu {

}

.menu__item {
  font: 500 22px/26px museo_sans_cyrl, arial, helvetica, sans-serif; 
}

.hamburger-menu {

}

.menu__btn {

}

.menu__box {

}

.main-section {

}

.main-content {

}

.main-content__title {
  font: 700 280px/371px pt_serifbold, arial, helvetica, sans-serif;
}

.main-content__title-2 {
  font: 700 98px/130px pt_serifbold, arial, helvetica, sans-serif;
}

.main-content__subtitle {
  font: 500 16px/19px museo_sans_cyrl, arial, helvetica, sans-serif;
}

.main-content__button {
  font: 500 16px/19px museo_sans_cyrl, arial, helvetica, sans-serif;
}

.image-content {

}

.image-content__img1 {

}

.image-content__img2 {

}

.image-content__img3 {

}